<doctype html>
<html lang="<%= lang %>" dir="<%= lang_dir %>">
  <head>
    <title>Vinograd - <%= gettext('Home') %></title>
    <% include ./partials/head.partial.ejs %>
  </head>
  <body>
    <div class="wrapper">
      <% include ./partials/header.partial.ejs %>
      <div id="main" class="index-main">
        <div class="hero">
          <div class="hero-content container center-block">
            <div class="headline flex flex--column flex--center height-100">
              <h1 class="self--start">"<%= gettext('Welcome') %>" - <%= gettext('Author') %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ./partials/scripts.partial.ejs %>
  </body>
</html>
